* { 
 box-sizing: border-box;
 border: 0px solid rgb(29, 29, 26);

}

body {
  text-align: center;
  background-color: #a7996e;
  margin: 0 auto;
}

.top {
  width: 90%;
  height: auto;
  margin: auto;  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../cssimages/cactus.jpg"); 
  padding: 5px;
}

.top div {
  font-size: 3vw;
  margin: 0 auto; 
  padding-top: 20px; 
  padding-bottom: 15px; 
}

.top div a {
  color: springgreen; 
  text-decoration: underline overline #ffff00ba; 
  padding: 5px;
  width: auto;
}

.whylocal,.mainhead,.mainbod,.theend {
  width:75%;
  margin: auto;
  background-color: #b3e6cc;
  padding: 0 10px 5px 10px;
}

.mainhead {
  background-image: url("https://images.unsplash.com/photo-1533460004989-cef01064af7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z3Jhc3N8ZW58MHx8MHx8&w=1000&q=80");
  background-position: center; 
  background-size: cover;  
  background-repeat: no-repeat;
  background-position: center;
  border: 0px solid black;
}
 .mainhead h2 {
  color: #ffff99;
  font-size: 40px;
  padding: 2px 5px ;
  border: 2px solid rgba(138, 50, 21, 0.486);
  margin: auto;
  width: fit-content;
  justify-content: center;
}

.mainhead div ol {
  margin: auto;
  padding: 0px 5px 0 20px;
  width: fit-content;
  font-size: 20px; 
  font-weight: bold; 
  border: 0px solid rgb(230, 62, 221);  
}

.mainhead div a {
  color: #ffcc00;
  width: fit-content; 
  border: 0px solid red; 
  display: inline-flex;
  padding: 15px;
}

.whylocal p {
  font-size: 20px;
}

.whylocal div h1 {
  padding-top: 25px;
}

.mainbod #list1 h3 {
  padding-top: 25px;
}


h3 {
  font-family: serif, georgia, sans-serif; 
  font-size: 30px;
}

p {
  font-family: monospace;
  font-size: 18px;
}

.theend div a {
  display: inline; 
  width: fit-content;
  height: auto;
  padding: 8px;
  border: 0px solid black;
  margin: auto;
  justify-content: center;
  text-align: center;
  color: black;
}

.theend {
  padding: 5px;
  margin: auto; 
  width: 55%;
  height: fit-content;
  border: 2px solid black;
 justify-content:flex-start;
}
